/*
created by: karina
created date: 11/16/17
*/

@import '../../stylesheets/variables.less';


.navbar-container {
  transition: top 0.2s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999 !important;

  &.nav-up {
    top: @nav-up-height;
  }

  &.nav-down {
    margin: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
  }

  & > nav.navbar {
    background-color: transparent;
    border: none;

    & > .container {
      background-color: @brand-white;
      width: auto !important;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      align-items: center;

      & > .navbar-header {
        display: flex;
        align-items: center;
        background-color: @brand-white;

        @media screen and (max-width:415px) {
          display: flex;
        }

        & > button.navbar-toggle {
          background-color: @brand-pink;
          right: 0;
          position: absolute;
          margin: 0;
          margin-right: 10px;

          & > span {
            background-color: @brand-white;
          }
        }



        & > a.navbar-brand {
          padding: unset;
          font-size: unset;
          line-height: unset;
          display: flex;
          align-items: center;

          & > img.backslash-logo {
            max-height: 40px;
            margin-left: 10px;

            @media only screen and (min-width: 768px) {
              max-height: 40px;
              //margin-top: 15px;
              //margin-right: 0;
            }

            @media only screen and (min-width: 992px) {
              max-height: 60px;
              //margin-top: 6px;
            }
          }
        }
      }

      & > ul.navbar-right {
      }

      & > .navbar-collapse {
        background: @brand-white;
        width: fit-content;
        float: right;
        flex: 1;

        & > ul {
          & > li {
            padding: 10px;

            & > .dropdown {
              position: relative;
              display: inline-block;

              & > .dropdown-content {
                display: none;
                position: absolute;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

                & > a > img {
                  padding-top: 10px;
                }

                & > form {
                  & > a {
                    background-color: transparent;
                    padding-top: 10px;
                    display: block;


                    & > img {
                    }
                  }
                }
              }
            }

            & > a {
              background-color: transparent;
              padding: 0;

              & > .button-icon-container {
                height: 50px;
                width: 120px;
                overflow: hidden;


              }
            }
          }

          & > li.active {
            & > a {
              background-color: transparent;
              padding: 0;

              & > .button-icon-container {
                & > img {
                }
              }
            }
          }
        }
      }
    }
  }

  @media @breakpoint-xs {
    & > nav.navbar {
      background-color: transparent;
      border: none;

      & > .container {
        background-color: transparent;
        display: block;
      }
    }
  }

}